:root{
  --color-blue:#102f5e;
  --color-lg-blue:#395169;
  --color-black:#000;
  --color-white:#fdfdfd;
  --color-border:#ccc;
  --color-green:rgba(74, 234, 79,.5);
}
input,
select {
  padding: .25rem .5rem;
}
/* container */
.container {
  max-width: 750px;
  max-height: 600px;
  margin:1rem auto;
  background:var(--color-white);
  padding:1.5rem;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
 background: #102f5e;
 width: 4px;
 border: 2rem;
}
.container::-webkit-scrollbar-corner{
  display: none;
}
/* todo header */
.container .header-todo {
  text-align: center;
  padding:0 1rem 1rem;
  border-bottom:1px solid var(--color-border);
}
/* todo form */
#todo-form,#edit-form{
  padding:1rem;
  text-align: center;
  border-bottom: 1px solid var(--color-border);
}

#todo-form p,
#edit-form p{
  margin-bottom: .5rem;
  font-weight: bold;
}
.form-control{
  display: flex;
}
.form-control input{
  width: 90%;
  margin-right: .3rem;
}
#cancel-edit-btn{
  margin-top: 1rem;
}
/* toolbar */
.toolbar{
  /* padding:1rem; */
  border-bottom:1px solid var(--color-border);
  display: flex;
}
.toolbar h4 {
  margin-bottom:.5rem;
}
#todo-list{
  margin-top: 1rem;
  border-radius: 2rem;
  border:1px solid var(--color-lg-blue)
}
#search{
  border-right:1px solid #DDD;
  padding-right: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width:65%;
  display:flex;
  flex-direction: column;
}
#search form {
  display:flex;
}
#search input{
  width: 100%;
  margin-right: .3rem;
}
.fa-delete-left {
  width: 40px;
}
.filter{
  width:35%;
  display:flex;
  flex-direction:column;
}

/* to do list */
.todo {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding:1rem;
  border-bottom: 1px solid var(--color-border);
  transition: .3s;
}
.todo h3{
  flex:1;
  font-size: 1rem;
}
.todo button {
  margin-left:.4rem;
}

.done{
  background-color: var(--color-green);
  border:2px solid #a4Ea4f;
}
.done h3 {
  color:var(--color-blue);
  text-decoration: line-through;
  letter-spacing: 2px;
 
}
/* todo edit */
.hide{
  display: none;
}

/* Button */
button{
  background:#fdfdfd;
  color:var(--color-blue);
  border:2px solid var(--color-blue);
  padding: .3rem .6rem;
  font-size: 1rem;
  cursor: pointer;
  display:flex;
  justify-content: center;
  align-items: center;
  transition: .4s ;
}
button i {
  color:var(--color-blue);
  font-weight: bold;
  pointer-events: none;
}
button:hover{
  background: var(--color-blue);
  color:var(--color-white);
}
button:hover > i{
  color:var(--color-white);
}

