$main-color: #3e4ca0;
$sub-color:#828ece;
$gray:#FFEAC8;
$btn-border:#123;
/* mixim */
@mixin button() {
  outline:none;
  border:1px solid $gray;
  background: $main-color;
  color: $gray;
  border-radius: 5rem;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  margin:2rem;

  &:hover{
    background: $sub-color;
    color:$btn-border;
    border: 1px solid $btn-border;
    box-shadow: -.8rem .9rem 0 .2rem rgba(255, 255, 255,.8);
  }
}
@mixin heading(){
  font-size: 4rem;
  margin:4rem 0;  
  color:$main-color;
  position: relative;

  &::after {
    content:'';
    position: absolute;
    bottom: -1rem;left:50%;
    transform: translateX(-50%);
    background: $main-color;
    height: .4rem;
    width: 80%;

  }
}
/* reset  */

*
{
margin:0;
padding:0;
box-sizing: border-box;
text-transform: capitalize;
font-family: 'Exo 2',sans-serif;
font-style: italic;
transition: all .2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
/* header */
header {
  width: 100%;
  // flex-box
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding:1rem 4rem;
  //position
  position:fixed;
  top:0;
  left:0;
  // right: 0;
  background:$sub-color;
  z-index:2;

  nav {
    ul{
      list-style:none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li{
        margin-right: 3rem;

        a{
          text-decoration: none;
          color:$gray;
          font-size: 2rem;
          padding:.5rem 2.5rem;
          border-radius: 5rem;
          
          &:hover{
            background:$main-color ;
          }
        }
      }
    }
  }
  .fa-bars{
    font-size:3.5rem;
    color:$gray;
    cursor: pointer;
    z-index: 10;
    display: none;
  }
  .logo {
    text-decoration: none;
    color:$gray;

    h1 {
      font-size: 2rem;
      font-family: "Exo 2";
      text-align: center;
      border: 2px solid $btn-border;
      border-radius: 4rem;
      padding: .5rem;
      text-decoration: underline $gray;
      box-shadow: -.5rem .5rem 0 .2rem $gray;
      transition: all .2s ease-in;
      
      &:hover {
        box-shadow: .5rem .5rem 0 .2rem $gray;

      }
    }
  }
}
  /* home */
img{
  max-width: 450px;
  height: 300px;
  border-radius: 5rem;
  border: 2px solid rgba(0,0,0,.5);
  color:#3e4ca0;
}
#home {
  min-height: 100vh;
  width: 100vw;
  /* flexbox */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 6rem;
  background: $sub-color;

  .image{
    .box{
      width: 50vw;
    }
  }

  .content{
      h1{
        font-size:6rem;
        font-weight: bold;
        color:$gray;

        .title{
          font-size: 9rem;
        }
        span{
          color:$main-color;
          font-family: 'Lobster';
          font-weight: 800;
          font-size: 7rem;
        }
      }
      button{
        @include button();
        height:8rem;
        width: 20rem;
      }
  }
}

/* menu */
.fa-times{
  transform: rotateZ(180deg);
  top:0;
  left:0;
}
/* sobre */
#about{
  display: grid;
  place-items:center;
  width:100vw;
  min-height: 100vh;

  h1{
    @include heading();
    color:$sub-color;

    &::after{
      background:$sub-color;
    }
  }
    .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

      .image{
        .box{
          width: 30vw;
        }
      }
      .content{
          width:50vw;

          h3{
            font-size: 4rem;
            color:$sub-color;
          }
          p{
            font-size:2rem;
            color:#333;
          }
        }
    }
}


/* skill */
#skill {
  display: grid;
  place-items:center;
  width:100vw;
  min-height: 100vh;
  background:$sub-color; 

    h1{
      @include heading();
      color:$gray;
      font-family: 'Lobster';

      &::after {
        background: $gray;
      }
    }
    .wrapper{
      display: flex;
      align-items: center;
      justify-content:space-around;
      width: 100%;

      .image{
        width: 30vw;

        h4{
          
          font-size: 4rem;
          margin: 2rem 0;
          color:$gray;
        }
        img{
          width: 20vw;
        }
      }
    }
    .progress{
      width: 50vw;
       
        h3{
          font-size:2rem;
          padding: 0 3rem;
          color:$gray;
        }
        .line{
          height: 1.3rem;
          width: 80%;
          margin:1.5rem;
          background:$btn-border;
          border: 2px solid $btn-border;
          border-radius: 2rem;
          
          .fill{
                border-radius: 2rem;
                height: 100%;
                width: 100%;
                background: $gray;
                display: block;
            }
        }
          .line1 .fill{
          width: 85%;
          }
          .line2 .fill{
          width: 70%;
          }
          .line3 .fill{
          width: 90%;
          }
          .line4 .fill{
          width: 65%;
          }
    }
   
}
/* Template */
#template {
  display: grid;
  place-items:center;
  width:100vw;
  min-height: 100vh;
  background:#fff; 

    h1{
      @include heading();
      color:$sub-color;
      font-family: 'Lobster';

      &::after {
        background: $sub-color;
      }
    }
    .wrapper{
      display: flex;
      align-items: center;
      justify-content:space-around;
      width: 100%;

      .image{
        width: 30vw;

        h4{
          
          font-size: 4rem;
          margin: 2rem 0;
          color:$sub-color;
          text-align: center;
        }
        img{
          width: 60vw;
          background: $sub-color;
        }
      }
    }
    .progress{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      
      h4{    
        font-size: 4rem;
        margin: 2rem 0;
        color:$sub-color;
        text-align: center;
      }
      
      .content_template{
        border: 3px solid $sub-color;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 70vh;
        border-radius: 2.5rem;
        margin-bottom: 2rem;

        a{
          width: 90%;
          height: 14%;
          text-align:center;
          font-size: 3.5rem;
          text-decoration: none;
          color: #828ece;
          font-family: 'Lobster';
          border-bottom:1px solid $sub-color;
          margin: 1rem auto;

          &:hover {
            background:rgba(0,0,0,.1);
            // text-decoration: underline $main-color;
            width: 60%;
            border-radius: 4rem;
          }
        }
      }      
    }
}
/* mini projetos */
#tool{
  display: grid;
  place-items:center;
  width:100vw;
  min-height: 100vh;
  background: $sub-color;

  h1{
    @include heading();
    color:$gray;

    &::after{
      background: $gray;
    }
  }
  .container-box{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    width: 80%;
    flex-wrap: wrap;

    .box{
      height:18rem;
      width: 25rem;
      border-radius: .5rem;
      margin:2rem;
      position: relative;
      overflow: hidden;
      
      img{
        box-shadow: 0 0 1rem #333;
        background: #fff;
        width: 100%;
        height: 100%;
        object-fit: cover;

      }

      button{
        font-size: 2rem;
        border-radius:.5rem;
        background-color: #3e4ca0;
        color: $gray;
        cursor: pointer;

        position: absolute;
        top:70%;left:50%;
        transform: translate(-50%,0%);
        height: 4rem;
        width: 16rem;
        z-index: 1;
      }

        &:hover button{
          top:40%;
          transform:translate(-50%,50%);
        }

        &:hover img {
          filter:blur(.5rem);
          transform: scale(1);
          background:rgba(0,0,0);
        }
    }
  }

}
/* footer */

#footer {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100vw;
  background:$sub-color;
  box-shadow: .1rem 0 1rem .1rem $gray;
  flex-wrap: wrap;

  .logo{
    text-decoration: none;

    h1{
      font-size: 2rem;
      font-family: "Exo 2";
      border: 2px solid $btn-border;
      border-radius: 4rem;
      padding: .5rem;
      text-decoration: underline $gray;
      box-shadow: -.5rem .5rem 0 .2rem $gray;
      transition: all .2s ease-in;
      color:$gray;
      margin: 2rem 0;
     
      
      &:hover {
        box-shadow: .5rem .5rem 0 .2rem $gray;

      }

    }
  }
    .icons{
      margin:2rem 0;

      a{
        text-decoration: none;
        font-size: 3rem;
        margin:0 1rem;
        color:$gray;

        &:hover{
          color:$main-color;
        }
      }
    }
    h1{
      margin:2rem 0;
      font-size: 2rem;
      color:$gray;
    }
}

// mediaQueries
@media(max-width:991px) {
  html{
    font-size: 45%;
  }
  header{
    .fa-bars{
      display:block;
    }
    nav{
      position:fixed;
      top:0;
      left:-100%;
      height: 100vh;
      width: 35rem;
      background: $sub-color;
      box-shadow: .2rem 0 .5rem #333;

      ul {
        height: 100%;
        flex-flow: column;
        justify-content: center;
        
        li{
            margin:2rem 0;

            a{
              font-size: 4rem;
            }
        }
      }
    }
  }
    #about{
      .wrapper{
        flex-flow: column;

          .image{
            width: 50%;
            img{
              width:100%;
            }
          }
          .content{
            width: 90vw;
            text-align: center;
            margin-top:2rem ;

              p{
                font-size: 2.2rem;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: bolder;
                line-height: 1;
                color: $btn-border;
                background: rgba(0,0,0,0.1);
                border-radius: 2rem;
                padding:.5rem;
              }
          }
      }
    }
    #skill{
      .wrapper{
        flex-flow: column;
        height: 70vh;
        
        .image{
          width: 90%;
          display:flex;
          flex-direction: column-reverse;
          align-items: center;
          
          img{
            box-shadow: .5rem .5rem 0 .2rem $gray ;
            width: 30%;
            height: 20vh;
            background: $main-color;

            h4{
              font-size: 1.5rem;
            }
          }
        }
      }
    }
    #template{
      .wrapper{
        flex-flow: column;
        
        .image{
          img{
            margin: auto;
            width: 100%;
          }

        }
      }
    }
    .nav-toggle{
      left:0;
    }
  
}
@media (max-width:768px){
header {
    nav{
      .logo {
        h1{
          width: 80%;
        }
      }
    }
  }

  #home{
    flex-flow: column-reverse;
    display:flex;
    align-items: center;
    justify-content: center;

    .content{
      text-align: center;
      
      .image{
        border: 2px solid red;
        width: 30%;

        img{
          width:20vw;
        }
      }
    }
  }
  #skill{
    .wrapper{
      flex-flow: column;

      .image{
        width: 100%;

        p{
          font-size: 2rem;
          text-align: center;
        }

        img{
          width:30%;
        }
      }
    }
    .progress{
      margin:1.5rem 0;
      width:  50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .line{
        width:60%;
      }
    }  
  }

  #template {
    .wrapper{
      flex-flow: column;
      
        .image{
          img{
            width:100%;
            height:15%;
          }
        }
        .progress{
          width: 100%;
        } 
    }
  }
  #footer{
    flex-flow: column-reverse;
  }
}

@media (max-width:515px){
  #home{
    .image{
      width: 50%;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}