/* reset Css */
:root{
  --main-color: #3e4ca0;
  --sub-color:#828ece;
  --transp-color:rgba(130, 142, 206,.5);
  --gray:rgb(255, 234, 200);
  --btn-border:#123;
  --white:#FFF;
}
/* reset Css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  overflow: hidden;
}
body{
  display: grid;
  grid-template-columns:250px 1fr;
  grid-template-areas:
  "header header header"
  "aside main main"
  "aside main main";
}

header{
  width: 100%;
  padding: .4rem;
  background:var(--sub-color);
  background-position: center;
  background-size:cover;
  color: var(--gray);
  display: flex;
  align-items: center;
  box-shadow: 0 .4rem .1rem rgba(0,0,0,.1) ;
  border-bottom: .2rem solid var(--btn-border);
  grid-area: header;
  text-align: center;
}
header .title{
  color:var(--white);
  font-family:'PT';
  letter-spacing: .5rem;
  font-size: 3rem;
  margin: auto;
  align-items: center;
  text-shadow:  6px 6px 1px #000;
}
header .title span{
  font-family:'Lobster';
  letter-spacing: .5rem;
  font-size: 2.5rem;
  margin: auto;
  align-items: center;
}
/*  */
aside{
  grid-area: aside;
}
.sidebar{
  background: #828ece;
  width: 250px;
  height: 100vh;
  border-right: .1rem solid var(--sub-color);
  box-shadow: 8px 0 5px var(--btn-border);
  border-right: .1rem solid var(--btn-border);
}

.sidebar .text{
  font-size: 25px;
  margin: 1rem;
  text-align: center;
  font-family: 'Poppins';
  font-weight: 600;
  line-height: 65px;
  letter-spacing: .1rem;
  border-bottom: .2rem solid var(--btn-border);
}

/* nav */
nav ul {
  background:rgba(1,2 ,3,.4);
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border: .1rem solid rgba(190,190,190,.2);
}
nav ul li a {
  position: relative;
  background: var(--btn-border);
  color:var(--white);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 4px solid var(--btn-border);
}
nav ul li a:hover{
  color:var(--gray);
  background:  rgba(130, 142, 206,.6);
  border-left:8px solid #fff;
}
/* dropdown */
nav ul ul{
  position: static;
  display: none;
}
/* ao abrir drop */
nav ul .web-show.show{
  display:block;
}
nav ul ul li {
 line-height: 42px;
 border-bottom: none;
}
nav ul ul li a {
  font-size: 15px;
}
/* dropdown abrir */
nav ul  li a span {
  position: absolute;
  top:50%;
  right: 20px;
  font-size: 22px;
 transform: translateY(-50%);
}
nav ul  li a:hover span {
 transform: translateY(-50%) rotate(-180deg);
}
nav ul ul li a:hover {
  background: var(--main-color);
  border-left:8px solid rgb(179, 187, 235);
}
main{ 
  grid-area: main;
}
