:root
{
  /* color */
  --bg--color--primary: #123;
  --border-bottom :1px solid rgba(0,0,0,.1);
  --shadow--b-menu:2px 4px 2px 0 rgba(0,0,0,0.2);

  /* fonts */
  --font-family-title: monospace;
  --font-family-subtitle:Consolas;
  --font-w-medium: 500;
  --font-weight: 800;
  --font-w-bold: bold;
}
*
{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}

body
{
background:#fff;
}
body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background: rgba(0,0,0,.1);     
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa8a8; 
  border-radius: 20px;       
  border: 3px solid #d4d4d4;  
}
/* menu setup */
.header
{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 8%;
  padding: 20px 10%;
  background:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--border-bottom);
  box-shadow: var(--shadow--b-menu);
  z-index: 1;
}
/* logo */
.logo {
  position: relative;
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}
.navbar a
{
  display: inline-block;
  font-size: 1em;
  font-weight: var(--font-weight);
  font-family:'Arial Narrow', Arial, sans-serif;
  margin-left: 2.8em;
  transition: .3s;
  color:#000;
  padding: 8px;
  border-radius: 10px;
  transition: .3s;
}
.navbar a:hover
{ 
  background:rgb(0,0,0);
  color: #fff;
  border-radius: 10px;
}
/* dropdown */
.navbar a ul li {
  position:relative;
  border:1px solid #d4d4d4;
  display: block;

}
.navbar ul li a{
  display:block;

}
/* button login */
.header button  {
  width: 90px;
  height: 40px;
  cursor: pointer;
  background:#fff;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 8px;
}
.header button a
 {
 color:#000;
}
.header button a:active
 {
 color:#fff;
}
.header button:active 
{
  background: #000;
  color:#fff;
}
/* section intro */
.intro {
  position:relative;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 50px 40px 40px 40px;
  background-color: #ffffff;
  margin-bottom: 100px;
}
.container_intro{
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 95%;
  height: 91%;
  margin: auto;
  border:1px solid #aaa8a8;
  border-radius: 15px;
  box-shadow: 20px 10px 10px 10px rgba(0,0,0,0.2);
  background-color: #0A1832;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='2000' viewBox='0 0 800 800'%3E%3Cg fill='none' %3E%3Cg stroke='%23DBE9EC' stroke-width='17'%3E%3Cline x1='-8' y1='-8' x2='808' y2='808'/%3E%3Cline x1='-8' y1='792' x2='808' y2='1608'/%3E%3Cline x1='-8' y1='-808' x2='808' y2='8'/%3E%3C/g%3E%3Cg stroke='%23cbdde2' stroke-width='16'%3E%3Cline x1='-8' y1='767' x2='808' y2='1583'/%3E%3Cline x1='-8' y1='17' x2='808' y2='833'/%3E%3Cline x1='-8' y1='-33' x2='808' y2='783'/%3E%3Cline x1='-8' y1='-783' x2='808' y2='33'/%3E%3C/g%3E%3Cg stroke='%23bbd1d8' stroke-width='15'%3E%3Cline x1='-8' y1='742' x2='808' y2='1558'/%3E%3Cline x1='-8' y1='42' x2='808' y2='858'/%3E%3Cline x1='-8' y1='-58' x2='808' y2='758'/%3E%3Cline x1='-8' y1='-758' x2='808' y2='58'/%3E%3C/g%3E%3Cg stroke='%23acc5cf' stroke-width='14'%3E%3Cline x1='-8' y1='67' x2='808' y2='883'/%3E%3Cline x1='-8' y1='717' x2='808' y2='1533'/%3E%3Cline x1='-8' y1='-733' x2='808' y2='83'/%3E%3Cline x1='-8' y1='-83' x2='808' y2='733'/%3E%3C/g%3E%3Cg stroke='%239db9c6' stroke-width='13'%3E%3Cline x1='-8' y1='92' x2='808' y2='908'/%3E%3Cline x1='-8' y1='692' x2='808' y2='1508'/%3E%3Cline x1='-8' y1='-108' x2='808' y2='708'/%3E%3Cline x1='-8' y1='-708' x2='808' y2='108'/%3E%3C/g%3E%3Cg stroke='%238fadbd' stroke-width='12'%3E%3Cline x1='-8' y1='667' x2='808' y2='1483'/%3E%3Cline x1='-8' y1='117' x2='808' y2='933'/%3E%3Cline x1='-8' y1='-133' x2='808' y2='683'/%3E%3Cline x1='-8' y1='-683' x2='808' y2='133'/%3E%3C/g%3E%3Cg stroke='%2381a1b4' stroke-width='11'%3E%3Cline x1='-8' y1='642' x2='808' y2='1458'/%3E%3Cline x1='-8' y1='142' x2='808' y2='958'/%3E%3Cline x1='-8' y1='-158' x2='808' y2='658'/%3E%3Cline x1='-8' y1='-658' x2='808' y2='158'/%3E%3C/g%3E%3Cg stroke='%237495ac' stroke-width='10'%3E%3Cline x1='-8' y1='167' x2='808' y2='983'/%3E%3Cline x1='-8' y1='617' x2='808' y2='1433'/%3E%3Cline x1='-8' y1='-633' x2='808' y2='183'/%3E%3Cline x1='-8' y1='-183' x2='808' y2='633'/%3E%3C/g%3E%3Cg stroke='%23688aa3' stroke-width='9'%3E%3Cline x1='-8' y1='592' x2='808' y2='1408'/%3E%3Cline x1='-8' y1='192' x2='808' y2='1008'/%3E%3Cline x1='-8' y1='-608' x2='808' y2='208'/%3E%3Cline x1='-8' y1='-208' x2='808' y2='608'/%3E%3C/g%3E%3Cg stroke='%235c7e9b' stroke-width='8'%3E%3Cline x1='-8' y1='567' x2='808' y2='1383'/%3E%3Cline x1='-8' y1='217' x2='808' y2='1033'/%3E%3Cline x1='-8' y1='-233' x2='808' y2='583'/%3E%3Cline x1='-8' y1='-583' x2='808' y2='233'/%3E%3C/g%3E%3Cg stroke='%23507292' stroke-width='7'%3E%3Cline x1='-8' y1='242' x2='808' y2='1058'/%3E%3Cline x1='-8' y1='542' x2='808' y2='1358'/%3E%3Cline x1='-8' y1='-558' x2='808' y2='258'/%3E%3Cline x1='-8' y1='-258' x2='808' y2='558'/%3E%3C/g%3E%3Cg stroke='%2346678a' stroke-width='6'%3E%3Cline x1='-8' y1='267' x2='808' y2='1083'/%3E%3Cline x1='-8' y1='517' x2='808' y2='1333'/%3E%3Cline x1='-8' y1='-533' x2='808' y2='283'/%3E%3Cline x1='-8' y1='-283' x2='808' y2='533'/%3E%3C/g%3E%3Cg stroke='%233c5b81' stroke-width='5'%3E%3Cline x1='-8' y1='292' x2='808' y2='1108'/%3E%3Cline x1='-8' y1='492' x2='808' y2='1308'/%3E%3Cline x1='-8' y1='-308' x2='808' y2='508'/%3E%3Cline x1='-8' y1='-508' x2='808' y2='308'/%3E%3C/g%3E%3Cg stroke='%23335078' stroke-width='4'%3E%3Cline x1='-8' y1='467' x2='808' y2='1283'/%3E%3Cline x1='-8' y1='317' x2='808' y2='1133'/%3E%3Cline x1='-8' y1='-333' x2='808' y2='483'/%3E%3Cline x1='-8' y1='-483' x2='808' y2='333'/%3E%3C/g%3E%3Cg stroke='%232b446f' stroke-width='3'%3E%3Cline x1='-8' y1='342' x2='808' y2='1158'/%3E%3Cline x1='-8' y1='442' x2='808' y2='1258'/%3E%3Cline x1='-8' y1='-458' x2='808' y2='358'/%3E%3Cline x1='-8' y1='-358' x2='808' y2='458'/%3E%3C/g%3E%3Cg stroke='%23243966' stroke-width='2'%3E%3Cline x1='-8' y1='367' x2='808' y2='1183'/%3E%3Cline x1='-8' y1='417' x2='808' y2='1233'/%3E%3Cline x1='-8' y1='-433' x2='808' y2='383'/%3E%3Cline x1='-8' y1='-383' x2='808' y2='433'/%3E%3C/g%3E%3Cg stroke='%231E2E5C' stroke-width='1'%3E%3Cline x1='-8' y1='392' x2='808' y2='1208'/%3E%3Cline x1='-8' y1='-408' x2='808' y2='408'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
.intro_content
{
  max-width: 600px;
  margin-left:80px;
  padding: 30px;
  background-color: rgba(255,255,255,6);
  color:rgb(43, 60, 77);
  border: 1px solid rgb(0,0,0);
  border-radius: 10px;
  transition: 2s;
}
.intro_content:hover
{
  max-width: 600px;
  margin-left:80px;
  padding: 30px;
  background: #123; 
  color:#fff;
  border: 2.5px solid #fff;
  border-bottom:8px solid #fff;
  border-radius: 10px;
  box-shadow: 50px 20px 0px 10px rgba(255,255,255,.4);
  cursor: pointer;
}
.home-sci {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding-bottom:50px;
  border-bottom: 1px solid #fff;
  margin-top: 50px;
}
 .home-sci i{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding:15px;
  font-size: 2em;
  border-radius: 50%;
  border: 1px solid #FFf;
  transition: 1s ease;
} 
 .home-sci i:hover{
  border-radius: 50%;
  border: 1px solid #FFf;
  box-shadow: 40px 35px 1px 1px rgba(255,255,255,.4);
} 

.intro_content h3{
  font-size: 3.5em;
  font-weight: 700;
}
.intro_content h1{
  font-size: 2.5em;
  font-weight: 700;
}
.intro_content .text{
  font-size: 1.2em;
  font-weight: 700;
}
.intro_content p {
  margin-top: 3px;
  font-weight: 800;
  font-size: 1.8em;
  letter-spacing: 1;
}
.content_img_intro img{
  position: relative;
  top:10px;
  left:30%;
  width: 50%;
  border: 5px solid #000;
  border-radius: 100%;
  transition: 1.3s ease-in-out;
  cursor:pointer;
}
.content_img_intro img:hover {
  width: 60%;
  top:0;
  border-radius: 100%;
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255,.5);
  background-color: rgba(255,255,255,.3);
  border:5px solid rgba(0,0,0,.8) ;
}
/* section landing page */
.container_section_lp{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container_lp{
  box-shadow: 10px 5px 0 5px #d4d4d4;
  border: 1px solid #d4d4d4;
  border-radius: 10px 15px 50px 15px ;
  width:80vw;
  height: 80vh;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}
.content_lp {
  width:50%;
  text-align: center;
}
.img_lp{
  position: relative;
  top:80px;
  left:70px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 80%;
  height: 60%;
  border-right: 10px solid #123;
  border-bottom: 10px solid #123;
  border-top:1px solid #123;
  border-left:1px solid #123;
  border-radius: 30px; 
}
.img_lp img{
  width:100%;
  border-radius: 30px;
    
}
/*  */
.title_lp{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.8em;
}
.title_lp_img{
  padding-top: 60px;
  text-align: center;
  font-size: 1.8em;
  color: #0A1832;
}
.content_link_lp{
  border: 1px solid #d4d4d4;
  box-shadow: 15px 8px 0 1px #aaa8a8;
  border-radius: 20px;
  margin:10px auto;
  width: 380px;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container_link{
  width: 80%;
  height: 8%;
  padding:10px;
  border-radius: 9px;
  border-bottom:1px solid #000;
  border-right:1px solid #000;
  align-items: center;
  text-align: center;
  font-weight: 800;
  font-size: 1.1em;
  transition: 1s ease;
}

.container_link:hover{
  cursor: pointer;
  box-shadow: 10px 8px 0 5px #d4d4d4;
  border: 1px solid black;
}
/* mini projeto */
.container_miniProjeto{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_miniProjeto{
  width:80vw;
  height: 80vh;
  margin-top: 10px;
  display: block;
}
.title_miniProjeto{
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 1.5em;
}
.title_miniProjeto h1,h3 {
  margin-top: 0px;
}
.container_wrap{
  height: 481px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
/*  */
.main-content {
  max-width: 120rem;
  margin: 0 auto;
  border:1px solid red;
  /* padding: 10rem var(--gap); */
}
.grid2 {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:30px;
  border-radius: 4rem;
  background-image: url("../svg/endless-constellation.svg");
  background-position: center center;
  background-size: cover;
}
.gallery-img {
  max-width: 10rem;
  max-height: 10rem;
  overflow: hidden;
}
.gallery-img:hover {
  border-radius: 30%;
  transform: translate(3%, -3%) scale(1.2) rotate(-5deg);
  border-radius: 1rem;
  background: rgba(155, 231, 236, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.gallery-img img {
  transition: all 300ms ease-in-out;
}
.gallery-img img:hover {
  transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}
/* footer */
.footer{
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #000;
  color:#fff;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}
.social_media{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left:20px;
  margin-top: 10px;
}
.social_media a{
  color:#fff;
  margin-top: 5px;;
  margin-left:10px;
}

/* responsividade */
@media(max-width: 996px){
  /* menu */
  .header {
    position:fixed;
    top:0;
    right: 0;
    left: 0;
  }
  /* intro */
  .intro{
    padding:80px;
  }
  .container_intro{
    display: block;
    align-items: center;
    height: 97%;
  }

  .intro_content{
    height: 90%;
    margin: 25px auto ;
  }
  .intro_content h3{
    font-size: 2em;
  }
  .intro_content h1{
    font-size: 2.5em;
  }
  .intro_content p{
    font-size: 2em;
  }
  .content_img_intro{
    margin: auto;
    width: 30%;
  }
  .intro_content {
      margin-top: 30px;
  }
  
  .intro_content:hover
  {
  max-width: 600px;
  margin-left:80px;
  padding: 40px;
  background: #123; 
  color:#fff;
  border: 2.5px solid #fff;
  border-bottom:8px solid #fff;
  border-radius: 10px;
  box-shadow: 35px 5px 0px 12px rgba(255,255,255,.4);
  cursor: pointer;
  } 
  .content_img_intro {
    position: relative; 
    top:-210px;
  }
  /* landing pages */
}