/* Reset Css */
:root{
  /* color : */
  --pink:#ff0552;
  --white:#fff;
  --black:#333;
  --gray:#666;
  /* setting */
  --transparent:rgba(255,255,255,.1);
  --box-shadow-header:1rem .5rem .5rem 0 rgba(255,255,255,.3);
  --home-pg:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../img/home-pg.jpg) no-repeat;

}

*{
  font-family: 'Open Sans',sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  text-decoration: none;
  transition: all .2s linear  ;
}
*::selection{
  background: var(--pink);
  color:var(#fff);
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body {
  height: 300rem;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;               
}

body::-webkit-scrollbar-track {
  background:rgba(0,0,0,.7);        
}

body::-webkit-scrollbar-thumb {
  background-color:var(--pink);    
}
/* header */
header{
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  padding: 1.2rem 2rem;
  z-index:1000;
}
header .logo{
  font-size:3rem;
  color:var(--white);
  margin-right:auto;
}
header .logo i {
 padding:0 .5rem;
 color:var(--pink);
 transition: .4s ease-in;
}
header .logo i:hover {
  transform: scaleY(95%);
}

header form {
  display: none;
  margin-right: auto;
}

header form #search {
  height: 4rem;
  width: 40rem;
  padding:0 1rem;
  font-size:1.7rem;
  color:var(--black);
  border:.1rem solid var(--pink);
}
header form label{
  height: 4rem;
  width: 5rem;
  line-height: 4rem !important;
  text-align: center;
  font-size:1.7rem;
  background:var(--black);
  color:var(--white);
  border:.1rem solid var(--transparent);
  cursor: pointer;
}
header form label:hover{
  background: var(--pink);
  border:.1rem solid var(--white);
}
header .navbar ul{
  display: flex;
  align-content:space-between;
  list-style:none;
}
header .navbar ul li{
  margin:0 1rem;
}

header .navbar ul li a{
  color:var(--white);
  font-size: 2rem;
}
header .navbar ul li a:hover{
  color:var(--pink);
}
header .upload{
  background: var(--pink);
  font-weight:700;
  font-size:1.5rem;
  color:var(--white);
  border:.1rem solid var(--white);
  border-radius: 5rem;
  padding:.8rem 2.5rem;
  margin-left:2rem;
  text-align: center;
}
header .upload:hover{
    background:var(--white);
    color:var(--pink);
    border: .1rem solid var(--pink);
}
/* menu-bar */
header #menu{
  font-size: 3rem;
  color:#fff;
  cursor: pointer;
  display: none;
}
header.header-active{
  background:var(--transparent);
  box-shadow: var(--box-shadow-header);
}
header.header-active form {
  display: flex;
}
/* home page */
.home{
  min-height: 100vh;
  background: var(--home-pg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:1rem;
  flex-flow: column;
  padding:0 2rem;
}

.home h1{
  color:var(--white);
  font-size:6rem;
  text-align: center;
  padding: 2rem;
  cursor: pointer;
  text-shadow: .5rem .5rem  .1rem  var(--pink);
  border:.1rem solid rgba(255,255,255,.3) ;
  background: var(--transparent);
  border-radius: 1rem;
}
.home h1:hover{ 
  color:var(--pink);
  font-size:6rem;
  text-align: center;
  padding: 2rem;
  background: var(--transparent);
  text-shadow: 1rem 1.5rem  1rem  #000;
  border-radius: 1rem;
  border:.1rem solid var(--transparent) ;
}
.home form {
  display: flex;
  align-items: center;
  height: 5rem;
  width: 80rem;
  border-radius: 5rem;
  background: var(--white);
  border:.2rem solid #ff055083;
}
.home form:focus{
  background-color:var(--pink);
}
.home form #home-search{
  width: 100%;
  height: 100%;
  background: none;
  padding:0 1rem;
  font-size: 2rem;
  color:var(--pink);
  border: none;
}
.home form #home-search::placeholder{
  color:#ff055083;
}

.home form label{
  font-size: 2rem;
  margin:0 1rem;
  cursor: pointer;
  color:var(--pink);
  transition:  1s ease-in-out;
  padding: .6rem;
  border-radius: 50%;
  border: .1rem solid var(--pink);
  
}
.home form label:hover{
  transform: scale(125%);
  border: .1rem solid var(--pink);
  border-radius: 50%;
}

.home .sugestoes {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}
.home .sugestoes li{
  color:#ccc;
  margin:.2rem .5rem;
  font-size:3rem ;
  font-weight: 800;
  text-shadow: .1rem .1rem  .2rem var(--black);
}
.home .sugestoes li a{
  color:var(--white);
  font-size: 2rem;
}
.home .sugestoes li a:hover{
  color:var(--pink);
  font-size: 2rem;
}
/* media queries */

@media (max-width:991px){
  html{
    font-size: 55%;
  }
  header form #search{
    width: 100%;
  }
}
@media (max-width:768px){
  html{
    font-size: 52%;
  }
  /* sidebar */
  header #menu{
    display:block;
    order:1;
  }
  header .navbar {
    position:fixed;
    top:6rem;
    right: -120%;
    height: 100vh;
    width: 35rem;
    background: var(--pink);
    border-left: .1rem solid var(--white);
  }
  header .navbar ul {
    gap:5rem;
    padding-top: 4rem;
    flex-flow: column;
  }
  header .navbar ul li{
    width: 100%;
    text-align: center;
   
  }
  header .navbar ul li a{
    font-size: 2.5rem;
  }
  header .navbar ul li a:hover{
    color:var(--black)
  }
  .fa-times{
    transform: rotate(180deg);
  }
  header .nav-toggle{
    right: 0;
  }
  header .upload{
    margin-right: 2rem;
  }

  .home form {
    width: 100%;
  }
}
/* galeria */

.gallery{
  column-count: 3;
  padding:4rem 10%;
}
.gallery .box {
  padding:1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.gallery .box img{
  width: 100%;
  object-fit: cover;
}

.gallery .box .info{
  position:absolute;
  bottom:0;
  left:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gallery .box .info .fa-download{
  margin:2rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  color:#333;
  background: var(--white);
  box-shadow: 0 .1rem .2rem rgba(0,0,0,.7);
}
@media (max-width:500px){
  header form {
    display: none !important;
  }
  header #menu{
    order:1;
  }
  header .navbar{
    width: 100vw;

  }
  header .upload{
    margin-right: 2rem;
  }
  .home h1{
    font-size: 4rem;
  }
}