/* variables */
:root{
  --orange:#ffa500;
  --orange-transp:rgba(255, 165, 0,.3);
  --black:#000;
  --black-tp:#333;
  --transparent:rgba(0,0,0,.7);
  --white:#FFF;
  /* border */
  --border-white:.1rem solid rgba(255,255,255,.2);
}

/* Reset Css */

*{
  font-family: 'Nunito',sans-serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  text-decoration: none;
  border:none;
  transition: all .2s linear;
}
*::selection{
  background: var(--orange);
}
html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}
/* personalização */
.star{
  color:var(--orange);
}
.star:hover{
transform: scale(1.1);
}
.btn{
  display: inline-block;
  margin-top:1rem;
  padding:.8rem 3rem;
  font-size: 1.7rem;
  font-weight: bold;
  border:.2rem solid var(--orange);

  background: var(--orange);
  color:var(--white);
  cursor: pointer;
}
.btn:hover{
  background: rgba(255, 165, 0,.2);
  color:var(--orange);
}
.heading{
  text-align:center;
  padding:2.5rem 0;
}
.heading span{
  font-size: 3.5rem;
  border-radius: .5rem;
  border:2rem 1rem;
  background: rgba(255,165,0,.2);
  color:var(--orange);
}
.heading span.space{
  background:var(--white);
  color:var(--white);
  

}

section{
  padding:2rem 9%;
}
/* header  */

header {

  position: fixed;
  top:0;
  right: 0;
  left:0;
  z-index:1000;

  background: var(--black-tp);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding:2rem 9%;
}

header .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  
  color:var(--white);
}

header .logo span{
  color:var(--orange);
}

/* nav */

header .navbar a{
  color:var(--white);
  font-size: 2rem;
  margin:0 .8rem;

}
header .navbar a:hover{
  color:var(--orange);
}
/* icons */
header .icons i{
  font-size:2.5rem;
  margin-right: 2rem;

  color:var(--white);
  cursor: pointer;
}
header .icons i:hover{
  transform: scale(1.3);
  color: var(--orange);
}
/* search */
header .search-bar-container {
  position: absolute;
  top:100%;
  left:0;
  right: 0;
  padding:1.5rem 2rem;
  border:var(--border-white);
  z-index: 1001;
  clip-path: polygon(0 0,100% 0,100% 0,0 0);

  background: var(--black-tp);

  display: flex;
  align-items: center;

}
header .search-bar-container.active{
  clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
} 
header .search-bar-container #search-bar{
  width: 100%;
  padding:1rem;
  font-size: 1.7rem;
  text-transform: none;
  border-radius: .5rem;

  color:var(--black-tp);

}

header .search-bar-container label{
  font-size: 3rem;
  margin-left: 1.5rem;
  cursor: pointer;
  color:var(--white);

}

header .search-bar-container label:hover{
  color:var(--orange);
}
/* login Form  */
.login-form-container{
  position:fixed;
  top:-120%;
  left:0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 100000;

  background:var(--transparent);

  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form-container.active{
  top:0;
}
.login-form-container form {
  margin:2rem;
  padding:1.5rem 2rem;
  border-radius: .5rem;
  width: 50rem;

  background:var(--white);
}
.login-form-container form  h3{
  font-size:3rem;
  padding:1rem 0;
  color:#444;
  text-transform: unset;
  text-align: center;
}
.login-form-container form .box{
  width: 100%;
  padding:1rem;
  margin:.6rem 0;
  border: .2rem solid rgba(0,0,0,.3);
  font-size: 1.7rem;
  text-transform: none;

  color:var(--black-tp);
}
.login-form-container form .box:focus{
  border-color: var(--orange);
}
.login-form-container form #remenber {
  margin:2rem 0;
}
.login-form-container form label{
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
  border-radius:.5rem ;
}
.login-form-container form p{
  font-size: 1.5rem;
  padding: .5rem;
  text-align: center;
  color:var(--black-tp)
}
.login-form-container form p a{
  color: var(--orange);
}
.login-form-container form p a:hover{
  color: var(--black-tp);
  text-decoration: underline;
}
.login-form-container #form-close {
  position: absolute;
  top:2rem;
  right:3rem;
  font-size:5rem;
  color:var(--white);
  cursor: pointer;

}
/* menu -sidebar */
#menu-bars{
  color:var(--white);
  border:.1rem solid var(--white);
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}
/* home - page */
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
  
}
.home .content h3{
  font-size: 5rem;
  color: var(--orange);
  text-transform: uppercase;
  text-shadow: .3rem .3rem .5rem rgba(0,0,0,.7);
}
.home .content p{
  font-size: 3rem;
  color:var(--white);
  font-weight: 800;
  text-shadow: 0 .3rem 1rem rgba(0,0,0,.8);
  padding: .5rem 0;
}
.home .content .btn{
  border-radius: 2rem;
}
.home .content .btn:hover{
  color:var(--black);
  background: var(--orange);
}
/* video slide home */
.home .video-container video{
  position:absolute;
  top:0;
  left:0;
  z-index: -1;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.home .controls{
  background: rgba(0,0,0,.7);
  position: relative;
  top:10rem;
  border: 2rem;
  border-radius: 2rem;
  padding: 1rem;
}
.home .controls .vid-btn{
  height: 2rem;
  width: 2rem;
  margin: 0 .5rem;
  border-radius: 50%;
  display: inline-block;
  background: var(--white);
  cursor: pointer;
}

.home .controls .vid-btn.active{
  background:var(--orange);
  border: 2px solid rgba(255, 165, 0,.5);
}
/* agendar */
.book .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: center;
}
.book .row .image {
  flex: 1 1 40rem;
}
.book .row .image img{
  width: 100%;
}
.book .row  form{
  flex: 1 1 40rem;
  padding:2rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
  border-radius: .5rem;
}
.book .row form .inputBox{
  padding:.5rem 0;
}
.book .row form .inputBox h3{
  font-size: 2rem;
  padding:1rem 0;
}
.book .row form .inputBox input{
  width: 100%;
  padding: 1rem;
  border:.1rem solid rgba(0,0,0,.1);
  font-size:1.7rem;
  color:var(--black-tp);
  text-transform: none;
}
/* pacote viagem */
.package .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem
}
.package .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow:hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
.package .box-container .box img{
  height: 25rem;
  width: 90%;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: .3rem .3rem 2rem rgba(0,0,0,.5);
}

.package .box-container .box .content {
  padding:2rem;
}
.package .box-container .box .content h3 {
  font-size: 2rem;
  color:var(--black-tp);
}
.package .box-container .box .content h3 i{
padding-right:1.5rem ;
color:var(--orange);
}
.package .box-container .box .content p{
  font-size: 1.7rem;
  color:var(--black-tp);
  padding:1.5rem 0;
}
.package .box-container .box .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
}
.package .box-container .box .content .stars i:nth-child(5){
  font-size: 1.7rem;
  color:rgb(209, 136, 0);
}
.package .box-container .box .content .stars i:hover{
  color:rgba(255, 165, 0,.5);
  transform: scale(1.2);
}
.package .box-container .box .content .price{
  font-size: 2rem;
  color:var(--black-tp);
  padding-top: 1rem;
}
.package .box-container .box .content .price span{
  color:#666;
  font-size: 1.5rem;
  padding-left: 1rem ;
}
/* service */
.service .box-container {
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.service .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  padding:1rem;
  text-align: center;
  border: .2rem solid rgba(255, 165, 0,.5);
}
.service .box-container .box i {
  color:var(--orange);
  border: .1rem solid var(--orange);
  border-radius: .5rem;
  padding: 1rem;
  font-size: 5rem;
}
.service .box-container .box h3 {
  color:var(--black-tp);
  font-size: 2.5rem;
}
.service .box-container .box p {
  color:#666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.service .box-container .box:hover{
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  cursor: pointer;
}
/* galeria viagem */

.gallery .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}
.gallery .box-container .box{
  overflow:hidden;
  box-shadow:0 1rem 2rem rgba(0,0,0,.1);
  border: 1rem solid var(--white);
  border-radius: .5rem;
  flex:1 1 30rem;
  height: 25rem;
  border-radius:2rem;
  position: relative;
}
.gallery .box-container .box img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius:2rem;
}
.gallery .box-container .box  .content {
  border-radius:2rem;
  position: absolute;
  top:-100%;
  left:0;
  height: 100%;
  width: 100%;
  text-align: center;
  background:rgba(0,0,0,.7);
  padding:2rem;
  padding-top: 5rem;
}
.gallery .box-container .box:hover  .content{
  top:0;
} 
.gallery .box-container .box  .content h3{
  font-size:2.5rem;
  color:var(--orange);
}
.gallery .box-container .box  .content p{
  font-size:1.5rem;
  color:var(--white);
  padding:.5rem 0;
}
/* avaliaçao  */
.review .review-slide{
  padding-bottom: 2rem;
}
.review .box{
  padding:2rem;
  text-align: center;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
  border: .5rem;
}
.review .box img{
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.review .box h3{
  color:var(--black-tp);
  font-size: 2.5rem;
}
.review .box p{
  color:#666;
  font-size: 1.5rem;
  padding: 1rem 0;
}
.review .box .stars i{
  color:rgb(209, 136, 0);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.review .box .stars i:hover{
  color:var(--orange);
  transform: scale(1.1);
}

/* mediq queries */
@media (max-width:1200px){
  html{
    font-size: 55%;
  }
}

@media (max-width:991px){
 header{
  padding:2rem;
 }
 section{
  padding:2rem;
 }
}

@media (max-width:768px){
  #menu-bars{
      display: initial;
    }

    header .navbar{
      position: absolute;
      top:100%;
      right: 0;
      left:0;
      clip-path: polygon(0 0,100% 0,100% 0,0 0);
      border: var(--border-white);
      padding:1rem 2rem;
      background:var(--black-tp);
    }
    header .navbar.active {
      clip-path: polygon(0 0,100% 0,100% 100%, 0 100%);
    }
    header .navbar a{
      display: block;
      border-radius: .5rem;
      padding: 1.5rem;
      margin: 1.5rem 0;
      text-align: center;
      
      background: #222;
    }
  
    header .navbar a:hover{
      background: rgba(255, 165, 0,.3);
    }
}

@media (max-width:450px){
  html{
    font-size: 50%;
  }
  .heading span{
    font-size: 2.5rem;
  }
}